<html>
<!--Mario JS ceated by NIHILOGIC http://blog.nihilogic.dk/-->
<head>
<title>1-up.me</title>
<!--[if IE]> <link rel="stylesheet" type="text/css" href="http://www.nihilogic.dk/blog-files/styles.page.ie.css" /> <![endif]-->
<link href='../static/css/style.css' rel='stylesheet' type='text/css'/>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' type='text/javascript'></script>
<script src='../static/js/jquery.cookie.js' type='text/javascript'></script>
<script src='../static/js/background.js' type='text/javascript'></script>
<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<div class='section' id='empty'></div>
<div id='background'>
<div class='level'>
<img class='text-1' src='../static/images/mario-text-1.png'/>
<img class='text-2' src='..static/images/mario-text-2.png'/>
<div class='mario-sprite'></div>
<p style="margin:-500px 0px 0px 500px; font-family: 'Press Start 2P', cursive; font-size:24px;">"What doesn't kill you makes you smaller"  -Mario</p>
</body>
</html>